
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2{
    color: black;
    font-size: 20px;

}
  /* header start */
header {
    background-color: #0f1ef1ef;
    height: 60px;
    border-bottom: 3px solid #00008B;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    margin-left: 100px;    
}

.header-content h1 {
    margin: 0;
    color: white;
}
.logo-perfil{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: right;
    margin-left: 900px;

}

.icon-star{
    color: white;
    font-size: 27px;
    padding: 40px;

}


.icon-gear{
color: white;
font-size:30px;


}
  /* header end */

/* footer start*/
footer {
    background-color: #0f1ef1ef; 
    height: 70px; 
    width: 100%;
    margin: fixed;
    margin-top: 236px;
    
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

.footer-content p {
    margin: 0;
    color: aliceblue;
}

.footer-container {
    margin-top: 70px; 
    
}
/* footer end*/

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.slide-container{
    position: relative;
    width: 900px;
    height: 470px;
    border: 3px solid #ede6d6;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}
.slide-container .slides{
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
}
.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 20px;
    
}
span.prev{
    left: 20px;

}
span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
} 
.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.dotsContainer .active{
    background-color: #555;
}

.sub-cabecalho li{
    display: inline-block;
    margin-left: 280px;

    
}

.box-cabecalho{
    height: 25px;
    background-color: lightblue;
    
    

}




@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}


