* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}



body {
  background-color: #f0f8ff; /* Um tom suave de azul claro */
}
h1 {
  font-family: 'Poppins', sans-serif; /* Usando a fonte Poppins */
}
.logo {
  width: 100px; /* Largura da logo */
  height: 100px; /* Altura da logo */
  border-radius: 50%; /* Para fazer a logo ser redonda */
  object-fit: cover; /* Para manter a proporção da imagem */
}
.login-box {
  margin-top: 40px; /* Aumenta a distância entre o cabeçalho e a caixa de login */
}


header {
  background-color: #0f1ef1ef;
  height: 60px;
  border-bottom: 3px solid #00008B;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
margin-left: 90px;    
}

.header-content h1 {
  margin: 0;
  color: white;
}

.login-container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  
}

.login-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.login-box{
  position: absolute;

  top: 50%;
  
  left: 50%;
  
  transform: translate(-50%, -50%);
 
}

#logo-site{
  margin-left:20px;
  
}