*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #0f1ef1ef;
    height: 60px;
    border-bottom: 3px solid #00008B;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
margin-left: 100px;    
}

.header-content h1 {
    margin: 0;
    color: white;
}
.polit{

    border: 3px solid black;
    padding: 1px 1px 1px 1px;
    
}


.arrow-back{
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;

}

.term-list{
    font-size:  30px;
}
